openapi: 3.0.3
info:
  title: Eventzilla Attendees API
  description: The Eventzilla REST API provides access to event management operations including listing and retrieving events, managing ticket categories, processing registrations and orders, managing attendees, performing check-ins, and handling checkout workflows. Authentication is via an API key passed in the x-api-key request header.
  version: '2.0'
  contact:
    name: Eventzilla Support
    email: support@eventzilla.net
    url: https://community.eventzilla.net/
  termsOfService: https://www.eventzilla.net/terms-conditions/
  license:
    name: Proprietary
    url: https://www.eventzilla.net/terms-conditions/
servers:
- url: https://www.eventzillaapi.net/api/v2
  description: Eventzilla API v2
security:
- ApiKeyAuth: []
tags:
- name: Attendees
  description: Attendee management and check-in operations
paths:
  /events/{eventid}/attendees:
    get:
      operationId: listEventAttendees
      summary: List attendees for event
      description: Retrieve all attendees for a specific event.
      tags:
      - Attendees
      parameters:
      - name: eventid
        in: path
        required: true
        description: Unique identifier of the event
        schema:
          type: integer
      - name: offset
        in: query
        description: Number of records to skip
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: Maximum records per response
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: List of attendees
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendeesListResponse'
  /attendees/{attendeeid}:
    get:
      operationId: getAttendee
      summary: Get attendee by ID
      description: Retrieve details for a specific attendee.
      tags:
      - Attendees
      parameters:
      - name: attendeeid
        in: path
        required: true
        description: Unique identifier of the attendee
        schema:
          type: integer
      responses:
        '200':
          description: Attendee details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendeeDetailResponse'
  /attendees/checkin:
    post:
      operationId: checkinAttendee
      summary: Check in or revert attendee
      description: Perform a check-in for an attendee or revert a previous check-in.
      tags:
      - Attendees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinRequest'
      responses:
        '200':
          description: Check-in result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckinResponse'
components:
  schemas:
    AttendeeDetail:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        ticket_type:
          type: string
        bar_code:
          type: string
        is_attended:
          type: string
        questions:
          type: array
          items:
            type: object
            properties:
              questions:
                type: string
              answer:
                type: string
        refno:
          type: string
        id:
          type: string
        transaction_date:
          type: string
        transaction_amount:
          type: string
        transaction_status:
          type: string
        title:
          type: string
        email:
          type: string
          format: email
        buyer_first_name:
          type: string
        buyer_last_name:
          type: string
        payment_type:
          type: string
        event_id:
          type: number
        event_date:
          type: string
          format: date-time
    CheckinRequest:
      type: object
      required:
      - barcode
      - eventcheckin
      properties:
        barcode:
          type: string
          description: Attendee barcode
        eventcheckin:
          type: boolean
          description: true to check in, false to revert check-in
    AttendeesListResponse:
      type: object
      properties:
        attendees:
          type: array
          items:
            $ref: '#/components/schemas/AttendeeListItem'
    AttendeeListItem:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        ticket_type:
          type: string
        bar_code:
          type: string
        is_attended:
          type: string
        questions:
          type: array
          items:
            type: object
            properties:
              questions:
                type: string
              answer:
                type: string
        transaction_ref:
          type: string
        id:
          type: number
        transaction_date:
          type: string
        transaction_amount:
          type: number
        event_date:
          type: string
        transaction_status:
          type: string
        user_id:
          type: number
        event_id:
          type: number
        title:
          type: string
        email:
          type: string
          format: email
        buyer_first_name:
          type: string
        buyer_last_name:
          type: string
        payment_type:
          type: string
    AttendeeDetailResponse:
      type: object
      properties:
        attendees:
          type: array
          items:
            $ref: '#/components/schemas/AttendeeDetail'
    CheckinResponse:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        eventtitle:
          type: string
        orderef:
          type: string
        email:
          type: string
          format: email
        status:
          type: string
          enum:
          - Checkin
          - Checkout
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
externalDocs:
  description: Eventzilla API Documentation
  url: https://developer.eventzilla.net/docs/
